<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="libs/tour-player/PLAYER_VERSION/tour-player.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="libs/tour-player/PLAYER_VERSION/tour-player.js"></script>
    <title>PROJECT_NAME</title>
  </head>
  <body>
    <div id="tour-player"></div>
    <script src="js/tour.js"></script>
  </body>
</html>
